---

- name: "5.3.2.1 | PATCH | Ensure pam_unix module is enabled"
  when:
    - ubtu24cis_rule_5_3_2_1
    - ubtu24cis_disruption_high
    - ubtu24cis_pam_auth_unix
    - ubtu24cis_pam_create_pamunix_file
  tags:
    - level1-server
    - level1-workstation
    - patch
    - rule_5.3.2.1
    - NIST800-53R5_IA-5
    - pam_auth_update
    - pam_unix
  block:
    - name: "5.3.2.1 | AUDIT | Ensure pam_unix module is enabled | Check existing files"
      ansible.builtin.shell: grep -P -- '\bpam_unix\.so\b' /etc/pam.d/common-account
      register: discovered_pam_unix_account
      changed_when: false
      failed_when: discovered_pam_unix_account.rc not in [0, 1]

    - name: "5.3.2.1 | AUDIT | Ensure pam_unix module is enabled | Check existing files"
      ansible.builtin.shell: grep -P -- '\bpam_unix\.so\b' /etc/pam.d/common-session
      register: discovered_pam_unix_session
      changed_when: false
      failed_when: discovered_pam_unix_session.rc not in [0, 1]

    - name: "5.3.2.1 | AUDIT | Ensure pam_unix module is enabled | Check existing files"
      ansible.builtin.shell: grep -P -- '\bpam_unix\.so\b' /etc/pam.d/common-auth
      register: discovered_pam_unix_auth
      changed_when: false
      failed_when: discovered_pam_unix_auth.rc not in [0, 1]

    - name: "5.3.2.1 | AUDIT | Ensure pam_unix module is enabled | Check existing files"
      ansible.builtin.shell: grep -P -- '\bpam_unix\.so\b' /etc/pam.d/common-password
      register: discovered_pam_unix_password
      changed_when: false
      failed_when: discovered_pam_unix_password.rc not in [0, 1]

    - name: "5.3.2.1 | PATCH | Ensure pam_unix module is enabled | Ensure template"
      ansible.builtin.template:
        src: "{{ ubtu24cis_pam_confd_dir }}{{ ubtu24cis_pam_pwunix_file }}.j2"
        dest: "/{{ ubtu24cis_pam_confd_dir }}{{ ubtu24cis_pam_pwunix_file }}"
        owner: root
        group: root
        mode: 'u-x,go-rwx'
      notify: Pam_auth_update_pwunix

    - name: "5.3.2.1 | PATCH | Ensure pam_unix module is enabled | Ensure notification is triggered"
      when: (discovered_pam_unix_account.stdout | length == 0) OR
            (discovered_pam_unix_session.stdout | length == 0) OR
            (discovered_pam_unix_auth.stdout | length == 0) OR
            (discovered_pam_unix_password.stdout | length == 0)
      changed_when: true
      ansible.builtin.debug:
        msg: "Ensure notification is triggered"
      notify: Pam_auth_update_pwunix

- name: "5.3.2.2 | PATCH | Ensure pam_faillock module is enabled"
  when:
    - ubtu24cis_rule_5_3_2_2
    - ubtu24cis_disruption_high
    - ubtu24cis_pam_auth_faillock
    - ubtu24cis_pam_create_faillock_files
  tags:
    - level1-server
    - level1-workstation
    - patch
    - rule_5.3.2.2
    - NIST800-53R5_NA
    - pam_auth_update
    - pam_faillock
  ansible.builtin.template:
    src: "{{ ubtu24cis_pam_confd_dir }}{{ item }}.j2"
    dest: "/{{ ubtu24cis_pam_confd_dir }}{{ item }}"
    owner: root
    group: root
    mode: 'u-x,go-rwx'
  loop:
    - "{{ ubtu24cis_pam_faillock_file }}"
    - "{{ ubtu24cis_pam_faillock_notify_file }}"
  notify:
    - Pam_auth_update_pwfaillock
    - Pam_auth_update_pwfaillock_notify

- name: "5.3.2.3 | PATCH | Ensure pam_pwquality module is enabled"
  when:
    - ubtu24cis_rule_5_3_2_3
    - ubtu24cis_disruption_high
    - ubtu24cis_pam_create_pwquality_files
  tags:
    - level1-server
    - level1-workstation
    - patch
    - rule_5.3.2.3
    - NIST800-53R5_NA
    - pam_auth_update
    - pam_quality
  ansible.builtin.template:
    src: "{{ ubtu24cis_pam_confd_dir }}{{ ubtu24cis_pam_pwquality_file }}.j2"
    dest: "/{{ ubtu24cis_pam_confd_dir }}{{ ubtu24cis_pam_pwquality_file }}"
    owner: root
    group: root
    mode: 'u-x,go-rwx'
  notify: Pam_auth_update_pwquality

- name: "5.3.2.4 | PATCH | Ensure pam_pwhistory module is enabled"
  when:
    - ubtu24cis_rule_5_3_2_4
    - ubtu24cis_disruption_high
    - ubtu24cis_pam_create_pwhistory_files
  tags:
    - level1-server
    - level1-workstation
    - patch
    - rule_5.3.2.4
    - NIST800-53R5_NA
    - pam_auth_update
    - pam_history
  ansible.builtin.template:
    src: "{{ ubtu24cis_pam_confd_dir }}{{ ubtu24cis_pam_pwhistory_file }}.j2"
    dest: "/{{ ubtu24cis_pam_confd_dir }}{{ ubtu24cis_pam_pwhistory_file }}"
    owner: root
    group: root
    mode: 'u-x,go-rwx'
  notify: Pam_auth_update_pwhistory
