---

- name: "5.3.1.1 | PATCH | Ensure latest version of pam is installed"
  when: ubtu24cis_rule_5_3_1_1
  tags:
    - level1-server
    - level1-workstation
    - patch
    - pam
    - rule_5.3.1.1
    - NIST800-53R5_NA
  ansible.builtin.apt:
    name: libpam-runtime
    state: latest
    lock_timeout: "{{ ubtu24cis_apt_lock_timeout }}"

- name: "5.3.1.2 | PATCH | Ensure libpam-modules is installed"
  when: ubtu24cis_rule_5_3_1_2
  tags:
    - level1-server
    - level1-workstation
    - patch
    - pam
    - rule_5.3.1.2
    - NIST800-53R5_NA
  ansible.builtin.apt:
    name: libpam-modules
    state: latest
    lock_timeout: "{{ ubtu24cis_apt_lock_timeout }}"

- name: "5.3.1.3 | PATCH | Ensure libpam-pwquality is installed"
  when: ubtu24cis_rule_5_3_1_3
  tags:
    - level1-server
    - level1-workstation
    - patch
    - pam
    - rule_5.3.1.3
    - NIST800-53R5_NA
  ansible.builtin.apt:
    name: libpam-pwquality
    state: latest
    lock_timeout: "{{ ubtu24cis_apt_lock_timeout }}"
